# === Build / Gradle ===
.gradle
build/

# Keep Gradle Wrapper (실행 스크립트 포함)
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# === 환경 변수/비밀 ===
.env
