/*-----------------AUTH----------------*/
body {
    margin: 0;
    background: #1e1e1e;
    color: #e0e0e0;
    font-family: 'Segoe UI', sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body.login{
    display: flex;
}

.login-container {
    background: #2a2a2a;
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    width: 360px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #61dafb;
    font-size: 24px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 6px;
    color: #ccc;
}

.input-group input {
    padding: 10px 12px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    background: #3a3a3a;
    color: #fff;
}

.input-group input:focus {
    outline: 2px solid #61dafb;
}

.btn {
    background: #61dafb;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #4ec0e0;
}

.error {
    color: #ff6666;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}
/*------------AUTH--------------*/
/*-----------PROJECT------------*/
.topbar {
    background: #252526;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #333;
}

.container {
    padding: 20px;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-card {
    background: #2d2d2d;
    padding: 15px 18px;
    border-radius: 6px;
    border: 1px solid #3c3c3c;
    cursor: pointer;
    transition: 0.15s;
}

.project-card:hover {
    background: #3a3a3a;
    border-color: #555;
}

.project-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.project-desc {
    font-size: 14px;
    color: #bbbbbb;
}

.btn-create {
    background: #0e639c;
    padding: 10px 14px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.2s;
}

.btn-create:hover {
    background: #1177bb;
}

.empty {
    margin-top: 40px;
    color: #777;
    font-size: 15px;
}
/*-----------PROJECT------------*/
